<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/ravi/IdeaProjects/restassured2/src/test/java/airlines/AirlinesTests.java">
        <classes>
            <class name="airlines.AirlinesTests">
                <methods>
                    <include name="createAirlinesFromMap"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>